/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c0ecd5;
    background-image: url(bg.jpg);
    margin: 0;
    overflow: hidden;
}

.alarm-clock {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.time-display {
    font-size: 48px;
    margin: 20px 0;
}

.alarm-set {
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

#alarm-status {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}